<main id="main">
    <section class="breadcrumb_section">

        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item " aria-current="page">Home</li>
                    <li class="breadcrumb-item " aria-current="page">Blog</li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section  class="p-0">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 one-blog">
    <div class="col-12 col-md-3 author p-4">
       <div class="dotted-heading">
          <h2 class="">About the <span>Author</span></h2>
       </div>
       <img [defaultImage]="defaultImage" [lazyLoad]="'https://www.yogavidyaschool.com/images/team/prashant.jfif'" class="img-fluid thumbnail" alt="">
       <h3 class="">Acharya Prashant Jakhmola</h3>
                               <p class="mb-3">
             Yogi Prashant was born into a Brahmin family in Rishikesh, India. A science graduate, he began his path of yoga with a visit to Shivananda Ashram where he learnt from one of the oldest yogis, 80 years old yoga guru, learning the basics of traditional yoga and philosophy, while continuing his Asana practice with Yogi Rudra Ji, a popular Iyengar Yoga Teacher in Rishikesh. He then explored Iyengar Yoga with Usha Devi Ji.The turning point of his life is, visit to Bihar School Of Yoga where he got pu                        </p>
                                     <p class="text-right notopmargin bottommargin-sm"><a href="https://www.yogavidyaschool.com/mentor/acharya-prashant-jakhmola">Read More...</a></p>
                                                    <div class="dotted-heading">
          <h2 class="">About the <span>Blog</span></h2>
       </div>
       <!--  <span class="">
    <strong>Blog Posted on:</strong> 30/11/2022 <br>
    <strong>Total Blog Read:</strong> 267
</span> -->
       <table class="table">
          <tbody><tr>
             <td><strong>Blog Posted on:</strong> </td>
             <td>23/12/2022</td>
          </tr>
          <tr>
             <td> <strong>Total Blog Read:</strong></td>
             <td>114</td>
          </tr>
       </tbody></table>

    </div>
    <div class="col-12 col-md-6  order-xs-1 p-4">
       <div class="col-12 col-md-12 main-blog">
          <img [defaultImage]="defaultImage" [lazyLoad]="imageUrl+blogArr.image" class="img-fluid thumbnail" alt="{{blogArr?.title}}">
           <div class="para" [innerHTML]="blogArr?.content">

           </div>
       </div>
    </div>
    <div class="col-12 col-md-3 right-sidebar p-4">
       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]='"https://www.yogavidyaschool.com/images/home/100hytt.jpg"' alt="">
             <div class="card-body">
                <h5 class="card-title">100 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $700
                </p>
                <a href="https://www.yogavidyaschool.com/100-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>

       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]='"https://www.yogavidyaschool.com/images/home/200hytt.jpg"' alt="">
             <div class="card-body">
                <h5 class="card-title">200 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $1200
                </p>
                <a href="https://www.yogavidyaschool.com/200-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>
       <!-- col-12 loop this -->

       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="'https://www.yogavidyaschool.com/images/gallery/300-hours-yoga-ttc-kerala/2.jpeg'" alt="">
             <div class="card-body">
                <h5 class="card-title">300 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $1400
                </p>
                <a href="https://www.yogavidyaschool.com/300-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>
       <!-- col-12 loop this -->

    </div>
 </div>
 </div>
 </div>
 </section>

 <!-- <ng-template #emptyLoadingTemplate></ng-template>
 <ngx-loading
 [show]="loading"
 [config]="{
   animationType: ngxLoadingAnimationTypes.wanderingCubes,
   backdropBackgroundColour: 'rgba(0,0,0,0.9)',
   primaryColour: '#fff',
   secondaryColour: '#fff',
   tertiaryColour: '#fff',
   backdropBorderRadius: '3px'
 }"
 [template]="emptyLoadingTemplate"
></ngx-loading> -->
