<main id="main">
    <section class="breadcrumb_section">
        
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item " aria-current="page">Home</li>
                    <li class="breadcrumb-item " aria-current="page">Blog</li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    
    <section  class="p-0">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 one-blog">
    <div class="col-12 col-md-3 author p-4">
       <div class="dotted-heading">
          <h2 class="">About the <span>Author</span></h2>
       </div>
       <img src="https://www.yogavidyaschool.com/images/team/prashant.jfif" class="img-fluid thumbnail" alt="">
       <h3 class="">Acharya Prashant Jakhmola</h3>
                               <p class="mb-3">
             Yogi Prashant was born into a Brahmin family in Rishikesh, India. A science graduate, he began his path of yoga with a visit to Shivananda Ashram where he learnt from one of the oldest yogis, 80 years old yoga guru, learning the basics of traditional yoga and philosophy, while continuing his Asana practice with Yogi Rudra Ji, a popular Iyengar Yoga Teacher in Rishikesh. He then explored Iyengar Yoga with Usha Devi Ji.The turning point of his life is, visit to Bihar School Of Yoga where he got pu                        </p>
                                     <p class="text-right notopmargin bottommargin-sm"><a href="https://www.yogavidyaschool.com/mentor/acharya-prashant-jakhmola">Read More...</a></p>
                                                    <div class="dotted-heading">
          <h2 class="">About the <span>Blog</span></h2>
       </div>
       <!--  <span class="">
    <strong>Blog Posted on:</strong> 30/11/2022 <br>
    <strong>Total Blog Read:</strong> 267                           
</span> -->
       <table class="table">
          <tbody><tr>
             <td><strong>Blog Posted on:</strong> </td>
             <td>23/12/2022</td>
          </tr>
          <tr>
             <td> <strong>Total Blog Read:</strong></td>
             <td>114</td>
          </tr>
       </tbody></table>

    </div>
    <div class="col-12 col-md-6  order-xs-1 p-4">
       <div class="col-12 col-md-12 main-blog">
          <img src="https://www.yogavidyaschool.com/images/blogs/41-What-is-Dirga-pranayama.png" class="img-fluid thumbnail" alt="What is Dirga pranayama?">
          <p>Pranayama is an age-old technique that has evolved and been practiced for several millennia for enhancing one’s health and well-being. Pranayama is all about <a href="https://www.yogavidyaschool.com/breath-detox-yoga">breathwork training</a> where controlled breath helps to purify the mind and the body. Today, modern science has also emphasized the role of such controlled breathing techniques as complementary interventions that offer more holistic solutions. Researchers have associated pranayama with enhanced blood circulation, increased vitality, stress reduction and improved focus and mental clarity. Dirga pranayama is one such breathwork technique that has similar benefits.</p>
<p>This post will walk you through several aspects of this ancient technique such as how to practice Dirga pranayama, its potential benefits, tips, precautions and other aspects.</p>
<h2><strong>What is Dirga pranayama?<br></strong></h2>
<p>Dirga pranayama or the three-path breath is the most grounding and calming exercise that you can indulge in. This pranayama helps you to attune to your physical body while centering your attention on the present moment.</p>
<p>Dirga is a Sanskrit word where Dirga denotes deep, complete and slow. This full breath is a breathing exercise in yoga that helps you achieve many benefits for the body and the mind. This pranayama entails breathing deeply or inhaling into the three parts of the body namely the stomach, lower chest and lastly the upper chest area. Once you fill-up the lungs with ample air, the breath is released gradually and uniformly from all these three areas of the body. This pranayama exercise is explained to beginners to teach them how to channel air through various areas of the body. As with any other pranayama, Dirga pranayama is said to accrue benefits such as enhanced lung function, improved intake of oxygen, and reduction in stress and anxiety. Besides, improved digestion, purification and detoxification are some other benefits of practicing the Dirga pranayama technique.</p>
<p>Dirga pranayama specifically helps you to concentrate on the present moment and become more aware of your physical body sensations. It is for such reasons, that Dirga pranayama is often practiced at the beginning of a yoga class to help students transition from their busy workday into the time that they have freed for yoga. Similarly, even while practicing at home, performing Dirga pranayama would elucidate similar results of helping you center your attention on the ensuing yoga practice. Do this pranayama as soon as you get onto your yoga mat and prepare your body and mind for yoga.</p>
<h2><strong>The History of Dirga Pranayama</strong></h2>
<p>Pranayama and yoga go hand-in-hand and hence both share the same history. Mention of pranayama and yoga can be found in ancient holy Hindu scriptures of Bhagavad Gita and the Yoga Sutras written by sage Patanjali. It is believed that pranayama began to be practiced alongside yoga in the 6th and 5th centuries BC. Similarly, Dirga pranayama has been practiced by yogis for the past several centuries. The Dirga pranayama technique developed from the Hatha Yoga Pradipika about 500 years back. In this text, Dirga pranayama is described as a means to purify the mind and the body besides offering several other benefits. Today, people across the world practice Dirga pranayama as a way to de-stress and revitalize themselves using the vital life force.</p>
<h2>How to perform Dirga pranayama?</h2>
<ul>
<li>To begin with, sit in padmasana (lotus pose) or lie down in Savasana (corpse pose). If you decide to lie down in Savasana, keep your eyes closed while you relax your face and body. You can either outstretch your legs or bend your knees as per your comfort level.</li>
<li>Observe your breath as you inhale and exhale. This will help to calm your mind.</li>
<li>Begin by inhaling and exhaling in a deep manner through your nose.</li>
<li>Inhale deeply and fill up your stomach with air as much as you can hold.</li>
<li>Exhale gradually as you expel all the air from your belly. At this moment, draw in your navel towards your spine as much as you can.</li>
<li>This is the foremost step in Dirga pranayama.</li>
<li>Repeat this five times.</li>
<li>When you inhale next, let the air into your belly, then inhale some more air and let it fill up your rib cage. Observe your rib cage expand.</li>
<li>Exhale and expel air first from the rib cage and then from your belly. Draw in your navel towards your spine as you expel air from the belly area.</li>
<li>Repeat this part two of the three-step procedure of Dirga pranayama. Repeat this step 5 more times.</li>
<li>Inhale and let the air fill up your belly and rib cage. Then, inhale more air and notice your upper chest expand right up to your</li>
<li>collarbone. Let the area surrounding your heart expand.</li>
<li>While exhaling, see to it that air is expelled first from your upper chest, then your rib cage and finally from your belly.</li>
<li>Perform this three-part breathing technique at your own comfortable pace.</li>
</ul>
<p>Don’t panic if you feel the breath challenging or unusual initially. Since we rarely breathe consciously taking in so much air and filling out all the available space, it's highly likely that you might feel uncomfortable at first. However, if you find that you are unable to breathe smoothly or you feel strained, dizzy or anxious, begin by doing only steps one and two. As you practice these steps consistently, you can gradually work your way up through the steps. Eventually, this three-part breath should feel smooth and comfortable. With regular practice, you will manage to inhale and exhale in equal rhythm for a deeper sense of relaxation.</p>
<p><br><strong>You can understand many finer nuances of Dirgha pranayama by enrolling in a <a href="https://www.yogavidyaschool.com/200-hours-yoga-teacher-training-in-rishikesh">200-hour yoga teacher training course in Rishikesh</a>.</strong></p>
<p>&nbsp;</p>
<h2>Tips for practicing Dirga pranayama</h2>
<ul>
<li>Practice Dirga pranayama in a comfortable position and tranquil surroundings where you know there will be no distractions.</li>
<li>Practice this breathing technique in a well-ventilated room. Pollution, fumes, and incense sticks are potentially harmful and counterproductive to the practice.&nbsp;</li>
<li>It's important that you inhale through your nose. This will help warm up the air and filter it before it enters the lungs.</li>
<li>As you inhale, allow your shoulders to rise slightly and relax them as you exhale.</li>
<li>Be aware of your breath as you inhale and exhale.</li>
<li>Practice Dirga pranayama in preparation for a yoga asana practice, pranayama or meditation routine in order to calm and relax the mind. However, you can employ this breathing technique at any time of the day to help calm you down.</li>
<li>You can perform Dirga pranayama either in Corpse pose, Crocodile pose or cross-legged posture. Even kneeling postures can be employed while practicing the three-part breath. We suggest Sukhasana or Savasana for beginners.</li>
<li>You should be able to breathe freely and without strain. Do not use force while performing Dirga pranayama.</li>
<li>Any irregularities or jerks should be noticed and corrected. The main goal is to have an even, smooth and rhythmic breath flow as you perform this pranayama exercise.</li>
<li>Once you ace Dirga pranayama, you can combine deep breathing techniques with meditation. You can focus your awareness with the help of a mantra, breath-mind connection or imagery.&nbsp;</li>
<li>Learn more such tips in-depth in breathwork training as part of a <a href="https://www.yogavidyaschool.com/yoga-courses/pranayama-therapy-course-online">pranayama course online</a>.</li>
</ul>
<h2>Contraindications and Precautions of Dirga pranayama</h2>
<p>The three-part breath is generally considered a safe practice. However, pregnant women, people suffering from respiratory conditions like bronchitis, and asthma and patients recovering from life-threatening conditions or serious illnesses should consult their physician before embarking on this pranayama practice. Also, people having cardiovascular issues should be mindful before doing the three-part breath pranayama.&nbsp;</p>
<p>Furthermore, practice this pranayama on an empty stomach. You should wait for at least three hours post a meal before attempting Dirga pranayama.</p>
<p>As ever, pranayama is always done on an empty stomach. Wait for 3 hours after a meal before attempting Dirgha pranayama.&nbsp;</p>
<h2><strong>The Benefits of Dirgha pranayama</strong></h2>
<p>Yogic literature has time and again emphasized the correct way of breathing. Dirgha pranayama and other pranayama techniques which have evolved through several ages are time-tested methods to address different health concerns and bring about healing of the mind and the body. Today, most of us lead busy lifestyles and we actually forget to take deep long breaths. Most of us take shallow breaths that only involve the upper chest. This results in inadequate oxygenation therein putting undue pressure on the heart and the lungs. However, deep, mindful breathing is actually the focal point of all the ancient pranayama techniques that help detox and bring about the purification of our bodily systems.&nbsp;</p>
<p>Dirga pranayama is one such breathing technique that helps oxygenate our blood while rejuvenating and energising our whole body. In fact, research claims that the Dirga pranayama practice fills up our bodies with seven times more air than the amount of air that we usually take in through one cycle of shallow air breathing.</p>
<p>Let's look into some benefits associated with practicing the Dirga pranayama technique.</p>
<h3><br>Calms down the nervous system</h3>
<p>Pranayama breathing exercises have a direct relationship between the autonomic nervous system and the breath rate. So, our fight-or-flight responses are largely determined in part by our breathing patterns. Pranayama kickstarts the parasympathetic nervous system while stimulating the relaxation response. The three-part breath lowers the heart rate and relaxes the muscles.</p>
<h3>Calms down the mind</h3>
<p>Similar to calming down the nervous system, Dirgha pranayama is quite effective in calming down an agitated mind. We all know that our breath changes in response to our emotions. So, many of us can relate to those shallow, rapid breaths that we unconsciously take before an all-important event. Associated with anxiety and stress, shallow breathing can agitate the mind even more and precipitate more nervousness and anxiety. However, at this juncture practicing Dirgha pranayama can be particularly helpful. The mind is taken away from preoccupations and worries or anxieties about a situation. The mind calms down and you will be able to concentrate only on your present breath and the present moment.</p>
<h3>Promotes circulation</h3>
<p>Dirgha pranayama through its three-part breathing pattern increases oxygen intake. This means that more oxygenated blood is circulating through our system. Also, enhanced oxygen levels energize our minds and body. It helps the effective metabolism of fats and carbohydrates while eliminating toxins from the body. Our brain functions optimally and we are able to focus with more clarity on the tasks at hand.</p>
<h3>Improved lung function</h3>
<p>The COVID-19 Pandemic brought to the fore the significance of our respiratory system health with our lungs being the focal point of various respiratory illnesses. Several scientific studies have shown that yoga and breathing exercises improved our lung function and endurance. In fact, Dirga pranayama through its three-level breathing involves more oxygen intake than any other pranayama technique and hence helps promote lung health.</p>
<h3>Improved digestion&nbsp;</h3>
<p>Since diaphragmatic breathing is involved as part of Dirga pranayama, it helps in the workout of the abdominal muscles. Also, the increased circulating oxygen helps in the effective elimination of toxins thus improving the digestive capacity and digestive health.&nbsp;</p>
<h3>Promotes restful sleep</h3>
<p>An anxious mind and body interfere with restful sleep at night. As already discussed, Dirga pranayama practice helps relax the nervous system while calming the mind and the body. Also, the three-part breathing alleviates stress and anxiety and promotes quality shut-eye.&nbsp;</p>
<h3>Fosters meaningful meditation practice</h3>
<p>Dirga pranayama helps relax your mind while increasing your focus thus laying the foundation for a meaningful practice of meditation. Practising this breathing technique helps one to transition from one stage of yoga to another. For example, this pranayama when done at the beginning of a yoga session helps the students to transition from a hectic work mode to a tranquil environment conducive to an effective yoga practice.&nbsp;</p>
<h2>Parting thoughts</h2>
<p>Dirgha pranayama is a deep, slow and conscious breathing technique that part by part fills up three chambers namely the abdomen, thoracic region and lastly the clavicular area to oxygenate the body and induce a sense of calm.</p>
<p>So, in a nutshell, Dirgha pranayama is a deeply relaxing and rejuvenating breathing technique. This breathing exercise fills up your body and mind with prana or vital energy force that helps you carry on with your daily routine tasks with more zest and vigor. Practice this pranayama technique regularly and transform your overall health and well-being.</p>                     
       </div>
      

    </div>
    <div class="col-12 col-md-3 right-sidebar p-4">
       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top " src="https://www.yogavidyaschool.com/images/home/100hytt.jpg" alt="">
             <div class="card-body">
                <h5 class="card-title">100 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $700
                </p>
                <a href="https://www.yogavidyaschool.com/100-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>

       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top " src="https://www.yogavidyaschool.com/images/home/200hytt.jpg" alt="">
             <div class="card-body">
                <h5 class="card-title">200 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $1200
                </p>
                <a href="https://www.yogavidyaschool.com/200-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>
       <!-- col-12 loop this -->

       <div class="col-md-12">
          <div class="card text-center">
             <img class="card-img-top" src="https://www.yogavidyaschool.com/images/gallery/300-hours-yoga-ttc-kerala/2.jpeg" alt="">
             <div class="card-body">
                <h5 class="card-title">300 Hour Yoga</h5>
                <p class="card-text">
                   Duration: 3rd of Every Month<br>
                   Price: $1400
                </p>
                <a href="https://www.yogavidyaschool.com/300-hours-yoga-teacher-training-in-rishikesh" target="_blank" class="btn btn-warning">Read More</a>
             </div>
          </div>
       </div>
       <!-- col-12 loop this -->

    </div>
 </div>
 </div>
 </div>
 </section>