<main id="main">
  <section class="p-0">
    <div class="container-fluid">
      <div class="row">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/zBtq_VovpP0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  <section class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/about1.png" />
        </div>

        <div class="col-lg-6">
          <img src="assets/img/about2.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col_full nobottommargin cms">
          <p style="text-align: justify" class="bottommargin-sm">
            Knowledge gives humbleness, humbleness makes us capable or worthy.
            Through worthiness or capability one gets wealth, with this wealth
            one can do good deeds or accomplish various social work, which is
            one’s dharma or religion, that gives extreme happiness and
            satisfaction.
          </p>
          <h2 style="text-align: justify">Why Yoga Vidya School?</h2>
          <p class="bottommargin-sm">
            The above Shloka explains the true meaning of ‘Vidya,’ a Sanskrit
            word for Knowledge. The knowledge of Yoga gives inner peace and
            liberty and thats what inspired us to create Yoga Vidya School – the
            place of peace and liberty with meaningful practice of Yoga.<br />
            <br />
            Yoga Vidya School is the traditional Yoga And Vedanta school based
            in Rishikesh, follows two&nbsp;Yogic traditions:
          </p>
          <ul
            style="text-align: justify"
            class="iconlist iconlist-large nobottommargin"
          >
            <li>
              <i class="icon-ok-sign"></i>
              <blockquote>
                <strong
                  >&nbsp;Swami Satyananda Saraswati&nbsp;(Bihar School of
                  Yoga)</strong
                >
              </blockquote>
            </li>
            <li>
              <i class="icon-ok-sign"></i>
              <blockquote>
                <strong
                  >&nbsp;T Krishnamacharya and K Pattabhi Jois&nbsp;(Ashtanga
                  Vinyasa)</strong
                >
              </blockquote>
            </li>
          </ul>
          <p style="text-align: justify" class="bottommargin-sm">
            The theoretical subjects are inspired and based on Vedantic
            philosophy by Shankaracharya Vedanta, in addition, we cover
            philosophies of Bhagavad Gita, Patanjali Yoga Sutra, Hatha
            Pradipika, Upanishads, etc.<br />
            <br />
            Our yoga training modules let the students gain the practical and
            philosophical knowledge of Hatha Yoga and Ashtanga Vinyasa both.
          </p>
          <h2 style="text-align: justify">
            Certified Yoga Courses in India by Yoga Vidya School
          </h2>
          <p style="text-align: justify" class="bottommargin-sm">
            Yoga Alliance Certified
            <a
              title="100 Hour"
              href="https://yogavidyaschool.com/100-hours-yoga-teacher-training-in-rishikesh"
              >100 Hour</a
            >,
            <a
              title="200 Hour"
              href="https://yogavidyaschool.com/200-hours-yoga-teacher-training-in-rishikesh"
              >200 Hour</a
            >,
            <a
              title="300 Hour"
              href="https://yogavidyaschool.com/300-hours-yoga-teacher-training-in-rishikesh"
              >300 Hour</a
            >
            and 500 Hour Yoga Teacher Training,
            <a
              title="Pranayama Therapy"
              href="https://yogavidyaschool.com/pranayama-therapy-yoga-course"
              >Pranayama Therapy</a
            >, Specialisation of
            <a
              title="Alignment &amp; Adjustments"
              href="https://yogavidyaschool.com/adjustment-and-alignment-level-one-yoga-course"
              >Alignment &amp; Adjustments</a
            >
            of Asana,
            <a
              title="Breath Detox"
              href="https://yogavidyaschool.com/breath-detox-yoga"
              >Breath Detox</a
            >, Chakra Marathon, Yoga Darshan, Pranayama Sadhna, Ashtanga Sadhana
            and more...<br />
            Our school emphasise on all round development of the students’ life.
            So we based our teaching process on three pillars, named as
            “triangular pyramid teaching”
          </p>
          <p style="text-align: left" class="bottommargin-sm">
            <strong
              ><em>These pillars are:</em>&nbsp;&nbsp;Learn, Experience and
              Share.</strong
            >
          </p>
          <p style="text-align: left" class="bottommargin-sm">
            Every student of the Yoga Vidya community has to step seriously into
            all these pillars to become a dedicated Practitioner and experienced
            Teacher.<br />
            <br />
            Whether you are an intermediate yoga practitioner or an experienced
            yoga instructor looking to master the art of teaching advanced yoga
            postures or a beginner Yoga enthusiast, We cater all your
            requirements.
          </p>
          <p class="bottommargin-sm">
            <img
              style="display: block; margin-left: auto; margin-right: auto"
              src="https://www.yogavidyaschool.com/images/uploads/1638962757_about-yoga-vidya.jpg"
              alt=""
              width="938"
              height="auto"
            />
          </p>
          <h2 style="text-align: justify">
            Travel Rishikesh and Experience its Culture and Energy while doing
            Yoga Teacher Training and Yoga Retreats in India.
          </h2>
          <p style="text-align: justify" class="bottommargin-sm">
            As mentioned above, the student is not only learning the aspects of
            yoga practices, they also practice and experience it throughly. Not
            only inside the school campus, we believe experience comes from
            visiting places that got energy from ancient yogis and therefore we
            organise trips to such places where yogis have done Sadhana and
            Tapasya for years.<br /><em
              ><strong>Some of the places we visit are:</strong></em
            >
          </p>
          <ul
            style="list-style-type: circle; text-align: justify"
            class="iconlist iconlist-large nobottommargin"
          >
            <li><i class="icon-ok-sign"></i>Sivananda yoga ashram</li>
            <li><i class="icon-ok-sign"></i>Vasishtha Cave&nbsp;</li>
            <li><i class="icon-ok-sign"></i>Moni Baba Cave&nbsp;</li>
            <li><i class="icon-ok-sign"></i>Dayananda Ashram</li>
            <li><i class="icon-ok-sign"></i>84 kuti Ashram / Beatles Ashram</li>
            <li><i class="icon-ok-sign"></i>Omkarananda Ashram</li>
            <li><i class="icon-ok-sign"></i>Parmarth Ashram with Ganga Arti</li>
          </ul>
          <p style="text-align: justify" class="bottommargin-sm">
            During Yoga Teacher Training in India, we also takes our students
            for various recreational and cultural activities like sun rise
            trekking in the Himalayas, Ganga Aarti, Waterfalls and nearby spots
            (Ganga beach yoga practises and river rafting for creating complete
            awareness regarding mother nature to our students). In Yoga Vidya
            School, you are not only practicing&nbsp; the techniques and the
            methods of yoga practices but also adopting the life style of yoga
            with the spiritual surroundings of Rishikesh.
          </p>
          <h2 style="text-align: justify">
            Our Mission in all Yoga Destinations – Rishikesh, Kerala, Bali,
            Romania and Russia
          </h2>
          <p style="text-align: justify" class="bottommargin-sm">
            Our mission is to bring out the ancient practices of yoga from
            the&nbsp;<em><strong>Upanishads</strong></em
            >&nbsp;and the&nbsp;<em><strong>Shastras</strong></em
            >&nbsp;into the World. So the practitioners can practice these
            hidden techniques to uplift their lifestyle. A lifestyle which is
            described in the ancient Yoga Scriptures, A way of living to achieve
            holistic health and happiness, balancing the physical, mental and
            spiritual development.&nbsp; To spread this knowledge, we work on
            creating dedicated yoga teachers through various yoga courses and
            events. The experiences and the&nbsp;knowledge of our yoga guru’s
            are conveyed through these yoga courses to yoga sadhaka(the
            practitioners), and so the yoga exercises are learned and conveyed
            to others in its authentic form by yoga practitioners.
          </p>
          <h2 style="text-align: justify">
            What Will You Get in Yoga Vidya School ?
          </h2>
          <p style="text-align: justify" class="bottommargin-sm">
            We believe yoga is a path that needs discipline and regularity and
            proper guidance. Our guests or students can find these three
            ingredients in all the yoga programs at all locations. Our aim is to
            make our students understand the real purpose of yoga. You can get
            short term Yoga, Meditation, Pranayama and Spiritual Retreats,
            Workshops, Therapies and long term courses like Yoga Teacher
            Training and Yoga Sadhanas. These programs are available online as
            well as Offline with Residential facilities.
          </p>
          <p class="bottommargin-sm">
            <strong
              >There are numerous benefits you will get in Yoga Vidya School
              such as:</strong
            >
          </p>
          <ul
            style="list-style-type: circle"
            class="iconlist iconlist-large nobottommargin"
          >
            <li><i class="icon-ok-sign"></i>A healthy yogic lifestyle</li>
            <li><i class="icon-ok-sign"></i>Leadership quality and strength</li>
            <li><i class="icon-ok-sign"></i>Willpower and Confidence</li>
            <li><i class="icon-ok-sign"></i>Focus and Regularity</li>
            <li>
              <i class="icon-ok-sign"></i>Creativity and Control on Thoughts
            </li>
            <li><i class="icon-ok-sign"></i>Blissful Feeling Inside Outside</li>
            <li><i class="icon-ok-sign"></i>Community of Like-minded People</li>
          </ul>
          <h2>
            <br />Improve Your Yoga and Life at Yoga Vidya School Rishikesh
          </h2>
          <p class="bottommargin-sm">
            <em
              >We believe there are two ways of improving your yoga
              practices:&nbsp;</em
            ><strong>Continuous Practice</strong>&nbsp;and&nbsp;S<strong
              >taying Connected</strong
            >&nbsp;to the Roots of Wisdom.<br />When a yoga aspirant comes to
            us, he or she strengthens&nbsp; his or her yoga practice through
            unbreakable consistency of yoga&nbsp; practice, guided by the
            experienced teachers. In this practice of yoga, one can learn even
            those nuances which are essential for an experienced yoga
            practitioner.
          </p>
          <p class="bottommargin-sm">
            At Yoga Vidya School, a yoga practitioner gets regular and updated
            knowledge, methods and guidance by experienced teachers to continue
            his or her growth and preserve the practice.We always make sure that
            you will not only grow physically but also on every level of growth
            including mental, spiritual and social.&nbsp;
          </p>
          <p class="bottommargin-sm">
            The result, after joining Yoga Vidya School in India, a person
            begins to think of herself/himself as part ofsupreme consciousness,
            which makes her or him stand out in the society.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
