<main id="main">
  <section class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col_full nobottommargin cms">
          <div class="payment-div">
            <h4>
              PAYMENT
            </h4>
          <p>
            PayPal - You can deposit your conformation fees by our PayPal account.
            Just click the pay now button to pay the advance course fee which is 20% of the whole course fee.
            for example - if you are opting for shared room, you should pay 250 USD and if you are opting for private room,
            you should pay 280 USD
          </p>
          </div>

   <div class="refund-div">
    <h4>
      REFUND POLICY
    </h4>
  <p>
    The deposit fee represents 200 USD and is required to book accommodation for a student.
    Students can pay deposit fee via PayPal account. Together with PayPal transfer charge deposits
    fee is 210 USD. This deposit fee is a part of the entire course fee. It is not refundable,
    however if you can not come for the course after paying the deposits fee, you can transfer
    it for any other future course with our school within one year. The rest of the course fee
    students can submit by cash at arrival within first three days. No refunds are available on
    cancellation after submitting and starting the course.
  </p>
   </div>
      </div>
      </div>
    </div>
  </section>
</main>
