<main id="main" *ngFor="let course of courseList">
  <section  class=" mb-5 hero-page">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h1 class="main-title">{{course.coursetitle}}</h1>
          <p>
            {{course.courseDesc}}
          </p>
        </div>
      </div>
    </div>
  </section>
   <section  class="mb-5 page-section in-school">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2 class="section-title">About 100 Hour Yoga TTC in Rishikesh</h2>
          <p>
          Join 100 Hour Yoga Teacher Training Course at Yoga Vidya School in Rishikesh, which is globally known for yoga courses along with yoga alliance approved. Yoga Vidya school has pledged itself to share and spread the knowledge of yoga by becoming a beacon of light. Our yoga gurus or experts are certified teachers and they have designed specialized unique yoga courses to transform students into a certified yoga teacher and passionate practitioners.<br>This best 100 Hour Yoga Teacher Training in Rishikesh, India is for all level of students coming for yoga in Rishikesh, as we can say that yoga in India. This course is for people who are fit, want to dedicate themselves to this inner spiritual practice, want to learn Yoga and believe in spreading knowledge, want to inspire, want to bring more happiness and peace into their lives. Let's illuminate the yoga path and enlighten the journey of self-soul realizing.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap form">
            <form class="apply-now">
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your Name" name="" id="" required="">
                </div>
                <div class="form-group">
                 <input type="email" class="form-control right-apply-name" placeholder="Email Address" name="" id="" required="">
                </div>
                <div class="form-group">
                 <select class="form-control calender-wp" name="selCourseDate" id="selCourseDate" required="">
                    <option value="select">Select Course Date</option>
                    <option value="03 Jan - 17 Jan 2023">03 Jan - 17 Jan 2023</option>
                    <option value="03 Feb - 17 Feb 2023">03 Feb - 17 Feb 2023</option>
                    <option value="03 Mar - 17 Mar 2023">03 Mar - 17 Mar 2023</option>
                    <option value="03 Apr - 17 Apr 2023">03 Apr - 17 Apr 2023</option>
                    <option value="03 May - 17 May 2023">03 May - 17 May 2023</option>
                    <option value="03 Jun - 17 Jun 2023">03 Jun - 17 Jun 2023</option>
                    <option value="03 Jul - 17 Jul 2023">03 Jul - 17 Jul 2023</option>
                    <option value="03 Aug - 17 Aug 2023">03 Aug - 17 Aug 2023</option>
                    <option value="03 Sep - 17 Sep 2023">03 Sep - 17 Sep 2023</option>
                    <option value="03 Oct - 17 Oct 2023">03 Oct - 17 Oct 2023</option>
                 </select>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Your Message" name="" id="" required="" rows="2"></textarea>
                  </div>
                  <div class="form-group d-grid">
                    <button type="submit" class="btn btn-primary standard-btn">Enquiry</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section  class="mb-5 page-section patern-bg2">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2 class="section-title">Who is the 100 Hour Yoga Teacher Training Course for?</h2>
          <p>
          People who have interest in Asana, pranayama, meditation, physics of yoga techniques, breath concentration, alignment of the body, the anatomy of the self-body, can join 100 Hour Yoga Teacher Training in Rishikesh. The course is designed for students also who are beginners in yoga and want to learn the yogic practices with or without prior knowledge and experience of same.<br>

The course is designed for Students also who are the beginner in yoga and want to learn the yogic practices with or without a prior knowledge and experience of same.
<br>
<br>
<strong>100 hour yoga teacher training course is ideal for:</strong>
<br>
<br>
Who have less time and not ready for the whole month course. They can attend the first two weeks of 200 Hour Yoga Teacher Training Course in Rishikesh, and complete this 100 Hour Yoga Teacher Training Course in Rishikesh, India. Whenever they are ready, they can come and complete 200-hour teacher training course with the last two weeks by attending final exams of 200-hour YTTC and they will get 200 hours Yoga Alliance certification. This 100 Hour Yoga Teacher Training in Rishikesh, India is certified by the school, but if you want to become RYT (Registered Yoga Teacher by Yoga Alliance), have to complete a 200 Hour Yoga TTC.
<br>
<br>
<strong>What is the purpose of 100 hour yoga TTC?</strong>
<br>
<br>
The purpose of the 100 Hour Yoga TTC in Rishikesh is to introduce you to the world of Yoga. This Yoga Teacher Training course Rishikesh is designed to acquaint the potential yoga enthusiast on a journey of a fulfilling life, happiness and multi-dimensional thought process. With deep insight on practical and theoretical knowledge attained in the course of this 100 hours in an interactive atmosphere, this Yoga Teacher Training Rishikesh India is the stepping stone of your and yoga’s love affair.
          </p>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>
  </section>
  <section class="in-school">
    <div class="container page-section">
      <div class="row g-5">
         <h2 class="section-title mb-2">Curriculum</h2>
      </div>
      <div class="row g-5">
            <div class="col-lg-8">
              <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                         Classical &amp; Traditional Practice of Hatha Yoga

                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                        Classical &amp; Traditional Practice of Hatha Yoga

                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                        Classical &amp; Traditional Practice of Hatha Yoga

                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
      </div>
    </div>
  </section>
   <section class="in-school daily-schedule">
    <div class="container page-section">
      <div class="row g-5">
         <h2 class="section-title mb-2"><span>Daily Schedule</span> for 100 Hour Yoga TTC In Rishikesh, India</h2>
      </div>
      <div class="row g-5">
        <div class="col-lg-6">
            <div class="single-schedule card">
              <div class="col-lg-6">
                <h6>Time</h6>
                <p>5:00 AM - 5:30 AM</p>
              </div>
              <div class="col-lg-6">
                <h6>Activity</h6>
                <p>Morning Tea <img src="assets/img/tea-cup.png"> </p>
              </div>
            </div>
        </div>
        <!-- single -->
        <div class="col-lg-6">
            <div class="single-schedule card">
              <div class="col-lg-6">
                <h6>Time</h6>
                <p>5:00 AM - 5:30 AM</p>
              </div>
              <div class="col-lg-6">
                <h6>Activity</h6>
                <p> Morning Tea <img src="assets/img/Asana.png"></p>
              </div>
            </div>
        </div>
        <!-- single -->
        <div class="col-lg-6">
            <div class="single-schedule card">
              <div class="col-lg-6">
                <h6>Time</h6>
                <p>5:00 AM - 5:30 AM</p>
              </div>
              <div class="col-lg-6">
                <h6>Activity</h6>
                <p> Morning Tea <img src="assets/img/Asana.png"></p>
              </div>
            </div>
        </div>
        <!-- single -->
        <div class="col-lg-6">
            <div class="single-schedule card">
              <div class="col-lg-6">
                <h6>Time</h6>
                <p>5:00 AM - 5:30 AM</p>
              </div>
              <div class="col-lg-6">
                <h6>Activity</h6>
                <p> Morning Tea <img src="assets/img/Asana.png"></p>
              </div>
            </div>
        </div>
        <!-- single -->
        <div class="col-lg-6">
            <div class="single-schedule card">
              <div class="col-lg-6">
                <h6>Time</h6>
                <p>5:00 AM - 5:30 AM</p>
              </div>
              <div class="col-lg-6">
                <h6>Activity</h6>
                <p> Morning Tea <img src="assets/img/Asana.png"></p>
              </div>
            </div>
        </div>
        <!-- single -->
      </div>
    </div>
  </section>
</main>
