<main id="main">
  <section  class=" mb-5 hero-page">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h1 class="main-title">{{courseList?.coursetitle}}</h1>
          <p>
            {{courseList?.shortDesc}}
          </p>
        </div>
      </div>
    </div>
  </section>
   <section  class="mb-5 page-section in-school">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 title">
          <h2 class="section-title mb-3">About {{courseList?.coursetitle}}</h2>
          <p [innerHtml]="courseList?.courseDesc | safeHtml:'html'">
          </p>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap form">
            <h3 class="headerform">Apply Now</h3>


            <form class="apply-now" #inquiry ="ngForm" (ngSubmit)="saveInquiry(inquiryData)">

              <div class="form-group">
                <span class="price">Course Fee:<br><span class="rate">{{courseList?.feeInfo[0]?.amount}} {{courseList?.feeInfo[0]?.currency}}</span></span>
              </div>
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your Name" name="name" [(ngModel)]="inquiryData.name" id="" required="">
                </div>
                <div class="form-group">
                 <input type="email" class="form-control right-apply-name" placeholder="Email Address"  name="email" [(ngModel)]="inquiryData.to" id="" required="">
                </div>
                <div class="form-group">
                 <select class="form-control calender-wp" name="selCourseDate" id="selCourseDate"  name="courseDate" [(ngModel)]="inquiryData.courseDate" required="">
                    <option value="undefined">Select Course Date</option>
                    <option *ngFor="let date of courseList?.upcomingEventInfo" value="{{date.startDate}} ~ {{date.endDate}}">{{date.startDate}} - {{date.endDate}}</option>
                 </select>
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="Your contact" name="contact" [(ngModel)]="inquiryData.contactNumber" required="">
                   </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Your Message"  name="message" [(ngModel)]="inquiryData.message" id="" required="" rows="2"></textarea>
                  </div>
                  <div class="form-group d-grid">
                    <button type="submit" class="btn btn-primary standard-btn">Enquiry</button>
                  </div>

                  <div class="form-group d-grid">
                    <button class="btn btn-primary standard-btn">Book Your Seat Now</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section  class="mb-5 page-section patern-bg2">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5 title" *ngFor="let o of courseList?.content">
          <h2 class="section-title">{{o.title}}</h2>
          <p [innerHtml]="o.para | safeHtml: 'html'">
          </p>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>
  </section>
  <section class="in-school">
    <div class="container page-section">
      <div class="row title">
         <h2 class="section-title mb-2">Curriculum</h2>
         <p><strong>
           What you will discover
         </strong>
        </p>
      </div>
      <div class="row g-5">
            <div class="col-lg-8">
              <div class="accordion" id="accordionExample">
                 <div class="accordion-item" *ngFor="let cir of courseList?.curriculumInfo; let i=index">
                    <h2 class="accordion-header" id="heading{{i}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'#collapse'+i">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                        {{cir?.title}}
                      </button>
                    </h2>
                    <div id="collapse{{i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
                      <div class="accordion-body" [innerHtml]="cir.para | safeHtml:'html'">
                      </div>
                    </div>
                  </div>
                 <!--   <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                        Classical &amp; Traditional Practice of Hatha Yoga

                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div> -->
                </div>
            </div>
      </div>
    </div>
  </section>
   <section class="in-school daily-schedule">
    <div class="container page-section">
      <div class="row g-5 schedule-heading title">
         <h2 class="section-title mb-5 text-left"><span>Daily Schedule</span> for {{courseList?.coursetitle}}</h2>
      </div>
      <div class="row g-5">
        <div class="col-lg-6" *ngFor="let sch of courseList?.scheduleInfo">
            <div class="single-schedule">
              <div class="col-lg-6 schedule-data">
                <h6>Time</h6>
                <p>{{sch.time}}</p>
              </div>
              <div class="col-lg-6 schedule-data">
                <h6>Activity</h6>
                <p>{{sch.activity}}
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-event">
    <div class="container">
      <div class="section-title title">
        <h2 class="mb-5">Upcoming Events</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="event-details" *ngFor="let fee of courseList?.feeInfo">
            <div class="event-detail-heading">
              <h4 class="orange">{{fee.title}}</h4>
            </div>
            <div class="discount-rate">
              <div class="room-rate">
                <p><span>
                  <b>{{fee.feeText}}</b>
                </span>
              Fees start from
              </p>
              <div class="d-flex amount-fee">
                <h4>{{fee.currency}} {{fee.amount}}</h4>
                <p>
                  <br>
                  <s>{{fee.currency}} {{fee.originalAmount}}</s>
                </p>
              </div>
              </div>
            </div>
            <div class="details-wrp">
              <div class="events-heading">
                 <h4 class="orange">What is Included in Course Fees</h4>
              </div>
              <ul class="list list-two-parts by-icon-list leaf-list mt-2">

                 <div class="col-xs-6">
                  <li><img src="assets/img/yogaicon.png" class="yogaicon">28 Days Accommodation</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">1 book Yoga Mala ("by k. Pattabhi Jois")
                    </li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">1 Pen and note book</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">Attached bathrooms</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">1 book Asana Pranayama Mudra Bandha ("by
                       Swami Satyananda Saraswati")</li>
                 </div>
                 <div class="col-xs-6">
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">Pure vegetarian meals</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">Satkarma cleansing items</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">T-Shirt</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">Yoga Alliance Certification</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">One bag</li>
                    <li> <img src="assets/img/yogaicon.png" class="yogaicon">River rafting</li>
                 </div>
              </ul>
           </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="event-container-div">
            <div class="event-div">
               <p class="orange"><b>START DATE</b></p>
               <p class="orange"><b>END DATE</b></p>
               <p class="orange"><b>AVAILABILITY</b></p>
            </div>
            <div class="event-div" *ngFor="let event of courseList?.upcomingEventInfo">
               <a href="#">
                  <p>{{event.startDate}}</p>
                  <p>{{event.endDate}}</p>
                  <p class="bg-dark-shade">{{event.seat}} SPOT LEFT</p>
               </a>
            </div>
         </div>
        </div>
      </div>
    </div>
  </section>
  <section class="upcoming-event">
    <div class="container">
      <div class="section-title title">
        <h2 class="mb-5">Students Reviews</h2>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="https://www.ekamyogashala.com/images/main/gallery.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 stu-vid-parent">
          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class="stu-vid-wrap">
            <a href="https://www.youtube.com/watch?v=PB3gJIpV5Po" target="_blank">
              <img src="https://www.ekamyogashala.com/images/main/100ytt-youtube-one.jpg" class="img-responsive" alt="">
            </a>
            </div>
          </div>
        </div>
        </div>
        </div>
    </section>
    <!-- <section class="upcoming-event">
      <div class="container">
        <div class="section-title title">
          <h2 class="mb-5">Frequently Asked Questions</h2>
        </div>
        <div class="row">
          <div  class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let cir of courseList?.curriculumInfo; let i=index">
               <h2 class="accordion-header" id="heading{{i}}">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'#collapse'+i">
                   <img src="assets/img/yogaicon.png" class="yogaicon">
                   {{cir.title}}
                 </button>
               </h2>
               <div id="collapse{{i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
                 <div class="accordion-body" [innerHtml]="cir.para | safeHtml:'html'">
                 </div>
               </div>
             </div>
           </div>
          </div>
          </div>
      </section> -->
</main>
