<main id="main" *ngFor="let course of courseList">
  <section  class=" mb-5 hero-page">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h1 class="main-title">{{course.coursetitle}}</h1>
          <p>
            {{course.shortDesc}}
          </p>
        </div>
      </div>
    </div>
  </section>
   <section  class="mb-5 page-section in-school">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2 class="section-title">About {{course.coursetitle}}</h2>
          <p innerHtml="{{course.courseDesc}}">
          </p>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap form">
            <form class="apply-now">
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your Name" name="" id="" required="">
                </div>
                <div class="form-group">
                 <input type="email" class="form-control right-apply-name" placeholder="Email Address" name="" id="" required="">
                </div>
                <div class="form-group">
                 <select class="form-control calender-wp" name="selCourseDate" id="selCourseDate" required="">
                    <option value="select">Select Course Date</option>
                    <option value="03 Jan - 17 Jan 2023">03 Jan - 17 Jan 2023</option>
                    <option value="03 Feb - 17 Feb 2023">03 Feb - 17 Feb 2023</option>
                    <option value="03 Mar - 17 Mar 2023">03 Mar - 17 Mar 2023</option>
                    <option value="03 Apr - 17 Apr 2023">03 Apr - 17 Apr 2023</option>
                    <option value="03 May - 17 May 2023">03 May - 17 May 2023</option>
                    <option value="03 Jun - 17 Jun 2023">03 Jun - 17 Jun 2023</option>
                    <option value="03 Jul - 17 Jul 2023">03 Jul - 17 Jul 2023</option>
                    <option value="03 Aug - 17 Aug 2023">03 Aug - 17 Aug 2023</option>
                    <option value="03 Sep - 17 Sep 2023">03 Sep - 17 Sep 2023</option>
                    <option value="03 Oct - 17 Oct 2023">03 Oct - 17 Oct 2023</option>
                 </select>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Your Message" name="" id="" required="" rows="2"></textarea>
                  </div>
                  <div class="form-group d-grid">
                    <button type="submit" class="btn btn-primary standard-btn">Enquiry</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section  class="mb-5 page-section patern-bg2">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 mb-5" *ngFor="let cont of course.content">
          <h2 class="section-title">{{cont.title}}</h2>
          <p innerHtml="{{cont.para}}">
          </p>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>
  </section>
  <section class="in-school">
    <div class="container page-section">
      <div class="row">
         <h2 class="section-title mb-2">Curriculum</h2>
         <p><strong>
           What you will discover
         </strong>
        </p>
      </div>
      <div class="row g-5">
            <div class="col-lg-8">
              <div class="accordion" id="accordionExample">
                 <div class="accordion-item" *ngFor="let cir of course.CurriculumInfo; let i=index">
                    <h2 class="accordion-header" id="heading{{i}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'#collapse'+i">
                        {{cir.title}}
                      </button>
                    </h2>
                    <div id="collapse{{i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
                      <div class="accordion-body" innerHtml="{{cir.para}}">

                      </div>
                    </div>
                  </div>
                 <!--   <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets/img/yogaicon.png" class="yogaicon">
                        Classical &amp; Traditional Practice of Hatha Yoga

                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div> -->
                </div>
            </div>
      </div>
    </div>
  </section>
   <section class="in-school daily-schedule">
    <div class="container page-section">
      <div class="row g-5 schedule-heading">
         <h2 class="section-title mb-5 text-center"><span>Daily Schedule</span>for {{course.coursetitle}}</h2>
      </div>
      <div class="row g-5">
        <div class="col-lg-6" *ngFor="let sch of course.scheduleInfo">
            <div class="single-schedule">
              <div class="col-lg-6 schedule-data">
                <h6>Time</h6>
                <p>{{sch.time}}</p>
              </div>
              <div class="col-lg-6 schedule-data">
                <h6>Activity</h6>
                <p>{{sch.activity}}
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
