<main id="main">

<section id="content" style="margin-bottom: 0px;" class="d-none">

  <div class="content-wrap" style="padding-top:40px;">

     <div class="container clearfix">

        <div class="col_full nobottommargin ">

           <div class="row">


                 <div class="col-md-4 col-sm-6 bottommargin" *ngFor="let mentor of mentorList">

                    <div class="team">

                       <div class="team-image">

                          <a href="/mentor/{{mentor.slug}}"><img [defaultImage]="defaultImage" [lazyLoad]="imageUrl+mentor.picture"  alt="{{mentor.name}}" style="border: 1px solid #eeeeee;padding:5px;"></a>

                       </div>

                       <div class="team-desc">

                          <div class="team-title">
                             <h4>{{mentor.name}}</h4><span>{{mentor.title}}</span>
                          </div>

                       </div>

                    </div>

                 </div>


                


           </div>

        </div>

     </div>

     <div class="clear"></div>

  </div>

</section>

<section class="master  patern-bg2 ">
   <div class="container">
       <div class="row">
           <div class="main-icon text-center">
               <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
           </div>
           <div class="heading-wrapper title text-center">
               <h2 class="mb-3">Our Yoga Masters</h2>
           </div>
           <div class="col-lg-3 text-center" *ngFor="let master of mentorList">
             <a routerLink="/mentor/{{master.slug}}">
               <div class="master card">

                 <div class="img-wrapper">
                     <img [defaultImage]="defaultImage" [lazyLoad]="imageUrl+master.picture" alt="{{master.title}}" class="img-fluid">
                 </div>
                 <div class="caption-wrapper">
                     <div class="title">
                         <h4>{{master.name}}</h4>
                     </div>
                     <div class="sub-title">
                         <p>{{master.title}}</p>
                     </div>
                     <div class="social-wrapper">
                         <a href="">
                             <img src="assets/img/insta.png" alt="instagram" class="img-fluid">
                         </a>
                         <a href="">
                             <img src="assets/img/youtube.png" alt="youtube" class="img-fluid">
                         </a>
                     </div>
                 </div>

         </div>
             </a>

           </div>
           <!-- <div class="col-lg-3 text-center">
               <div class="master card">
                       <div class="img-wrapper">
                           <img src="assets/img/master2.png" alt="Not Loaded" class="img-fluid">
                       </div>
                       <div class="caption-wrapper">
                           <div class="title">
                               <h4>Acharya Prashant Jakhmola</h4>
                           </div>
                           <div class="sub-title">
                               <p>Pranayama, Shatkriya, Bandha</p>
                           </div>
                           <div class="social-wrapper">
                               <a href="">
                                   <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                               </a>
                               <a href="">
                                   <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                               </a>
                           </div>
                       </div>

               </div>
           </div>
           <div class="col-lg-3 text-center">
               <div class="master card">
                       <div class="img-wrapper">
                           <img src="assets/img/master3.png" alt="Not Loaded" class="img-fluid">
                       </div>
                       <div class="caption-wrapper">
                           <div class="title">
                               <h4>Acharya Prashant Jakhmola</h4>
                           </div>
                           <div class="sub-title">
                               <p>Pranayama, Shatkriya, Bandha</p>
                           </div>
                           <div class="social-wrapper">
                               <a href="">
                                   <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                               </a>
                               <a href="">
                                   <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                               </a>
                           </div>
                       </div>

               </div>
           </div>
           <div class="col-lg-3 text-center">
               <div class="master card">

                       <div class="img-wrapper">
                           <img src="assets/img/master4.png" alt="Not Loaded" class="img-fluid">
                       </div>
                       <div class="caption-wrapper">
                           <div class="title">
                               <h4>Acharya Prashant Jakhmola</h4>
                           </div>
                           <div class="sub-title">
                               <p>Pranayama, Shatkriya, Bandha</p>
                           </div>
                           <div class="social-wrapper">
                               <a href="">
                                   <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                               </a>
                               <a href="">
                                   <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                               </a>
                           </div>
                       </div>

               </div>
           </div> -->
       </div>
   </div>
</section>
</main>