<main id="main">
    <section id="hero-slider" class="patern-bg2">
        <!-- hero-slider -->
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let slider of sliderList">
                  <!-- <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">
                    <div class="img-bg-inner">
                      <h2>Slider Heading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a> -->
                  <a href="#">
                    <img src="{{imageUrl}}{{ slider.image }}" alt="Yoga Vidya School">
                  </a>
                </div>
                <!-- <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">
                    <div class="img-bg-inner">
                      <h2>Slider Heading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">
                    <div class="img-bg-inner">
                      <h2>Slider Heading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div> -->

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <section class="yoga-class">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="img-wrapper">
                            <img src="assets/img/girl1.png" alt="Not Loaded" class="img-fluid" width="450">
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6">
                        <div class="right-side text-center">
                            <div class="main-icon">
                                <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                            </div>
                            <div class="heading-wrapper">
                                <div class="title">
                                    <h1>Digital Yoga Classes</h1>
                                </div>
                                <div class="sub-title">
                                    <p>BRING THE ONLINE YOGA EXPERIENCE TO YOU</p>
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p>Through Online Offerings, we intent to create an opportunity for health enthusiasts and dedicated yoga lovers to continue their practice, healthy lifestyle, personal and professional development with the best yoga teachers from India with safety and comfort of your home.</p>
                                <br>
                                <p class="lg mb-5">Your Time, Your Place, Any Device.. isn't this awesome!</p>

                            </div>
                            <div class="btn-wrapper">
                                <button class="btn know standard-btn">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section class="yoga-vidya-school patern-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="middle-side">
                            <div class="main-icon">
                                <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                            </div>
                            <div class="heading-wrapper">
                                <div class="title">
                                    <h1>YOGA VIDYA SCHOOL</h1>
                                </div>
                                <div class="sub-title">
                                    <p>RISHIKESH INDIA</p>
                                </div>
                            </div>
                            <div class="sub-heading">
                                <!-- <div class="img-wrapper">

                                </div> -->
                                <div class="sub-title-2">
                                   <img src="assets/img/yoga_alliance.png" alt="Not Loaded" width="117" height="121">
                                    <p>Yoga Alliance Certified Traditional <br>Yoga Teacher Training School in India</p>
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p>Welcome to Yoga Vidya School, a place to immerse in serious authentic yoga practice led by best yoga teachers of India, in an energetic environment created for transformation through Yogic Movements, Mudras, Meditations, Philosophy and Spiritual Lifestyle. You will practice this sacred science in the Mother Nature in the foothills of Himalayas, by the banks of river Ganges. Enjoy the Indian Yogic Hospitality in our beautiful accommodation facility near Laxman Jhulla and the Ayurvedic and delicious food menu focuses on freshness and flavour. We offer Cultural immersions through visit to Ashrams, Ganga Aarti, Waterfalls and Trek in the Himalayas.</p>
                                <p>Outside Rishikesh, we are available in Kerala, Romania, Russia, France and Bali with translators for Multilingual experience.</p>
                                <p>In additional to physical presence, we are also recognised for a global outreach through Online Yoga classes, courses, workshops and therapies to spread this sacred wisdom and inspire everyone to live healthy and happy life while staying at home. Join our community and empower yourself with the powerful shift in your life – Physically, Mentally and Spiritually.</p>
                            </div>
                            <div class="btn-wrapper">
                                <button class="btn know">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="in-school">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="middle-side">
                            <div class="main-icon  text-center">
                                <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                            </div>
                            <div class="heading-wrapper text-center">
                                <div class="title">
                                    <h2>IN-SCHOOL YOGA TEACHER TRAINING PROGRAMS</h2>
                                </div>
                                <div class="sub-title  text-center">
                                    <p>Multi style courses with dedicated morning sessions on static practices hatha yoga while the evenings dedicated for ashtanga vinyasa with dynamic series of asana and consecutive practices</p>
                                </div>
                            </div>
                            <div class="pic-wrapper  text-center">
                                <div class="pic-1">
                                    <div class="img-wrapper">
                                        <img src="assets/img/teacher1.png" alt="Not Loaded" class="img-fluid" width="297" height="439">
                                    </div>
                                    <div class="caption-wrapper">
                                        <p>100 Hour Yoga Teacher <br/>Training Course</p>
                                    </div>
                                </div>
                                <div class="pic-2">
                                    <div class="img-wrapper">
                                        <img src="assets/img/teacher1.png" alt="Not Loaded" class="img-fluid" width="297" height="439">
                                    </div>
                                    <div class="caption-wrapper">
                                        <p>100 Hour Yoga Teacher <br/>Training Course</p>
                                    </div>
                                </div>
                                <div class="pic-3">
                                    <div class="img-wrapper">
                                        <img src="assets/img/teacher1.png" alt="Not Loaded" class="img-fluid" width="297" height="439">
                                    </div>
                                    <div class="caption-wrapper">
                                        <p>100 Hour Yoga Teacher <br/>Training Course</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="appreciation patern-bg2">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-12"> -->
                        <div class="main-icon text-center">
                            <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                        </div>
                        <div class="heading-wrapper text-center">
                            <div class="title">
                                <h2>Popular Yoga Retreats</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci</p>
                            </div>
                        </div>
                    <!-- </div>
                    <div class="col-lg-12"> -->
                        <div class="col-lg-3 text-center">
                            <div class="master card">

                                    <div class="img-wrapper">
                                        <a>
                                            <img src="https://www.yogavidyaschool.com/images/home/200hytt.jpg" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="caption-wrapper">
                                        <div class="title">
                                            <h4>3 Days Yoga Retreat in Rishikesh</h4>
                                        </div>
                                        <div class="sub-title">
                                            <p>Date: Start on 1st Every Month</p>
                                        </div>
                                        <div class="location">

                                                <img src="assets/icon/location.png" alt="instagram" class="img-fluid">
                                                Rishikesh

                                        </div>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn know standard-btn">Select Course</button>
                                    </div>

                            </div>
                        </div>
                        <!-- one -->

                        <div class="col-lg-3 text-center">
                            <div class="master card">

                                    <div class="img-wrapper">
                                        <a>
                                            <img src="https://www.yogavidyaschool.com/images/home/200hytt.jpg" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="caption-wrapper">
                                        <div class="title">
                                            <h4>3 Days Yoga Retreat in Rishikesh</h4>
                                        </div>
                                        <div class="sub-title">
                                            <p>Date: Start on 1st Every Month</p>
                                        </div>
                                        <div class="location">

                                                <img src="assets/icon/location.png" alt="instagram" class="img-fluid">
                                                Rishikesh

                                        </div>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn know standard-btn">Select Course</button>
                                    </div>

                            </div>
                        </div>
                        <!-- one -->

                        <div class="col-lg-3 text-center">
                            <div class="master card">

                                    <div class="img-wrapper">
                                        <a>
                                            <img src="https://www.yogavidyaschool.com/images/home/200hytt.jpg" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="caption-wrapper">
                                        <div class="title">
                                            <h4>3 Days Yoga Retreat in Rishikesh</h4>
                                        </div>
                                        <div class="sub-title">
                                            <p>Date: Start on 1st Every Month</p>
                                        </div>
                                        <div class="location">

                                                <img src="assets/icon/location.png" alt="instagram" class="img-fluid">
                                                Rishikesh

                                        </div>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn know standard-btn">Select Course</button>
                                    </div>

                            </div>
                        </div>
                        <!-- one -->

                        <div class="col-lg-3 text-center">
                            <div class="master card">

                                    <div class="img-wrapper">
                                        <a>
                                            <img src="https://www.yogavidyaschool.com/images/home/200hytt.jpg" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="caption-wrapper">
                                        <div class="title">
                                            <h4>3 Days Yoga Retreat in Rishikesh</h4>
                                        </div>
                                        <div class="sub-title">
                                            <p>Date: Start on 1st Every Month</p>
                                        </div>
                                        <div class="location">

                                                <img src="assets/icon/location.png" alt="instagram" class="img-fluid">
                                                Rishikesh

                                        </div>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn know standard-btn">Select Course</button>
                                    </div>

                            </div>
                        </div>
                        <!-- one -->
                    </div>


                    </div>
              <!-- </div> -->
            </section>


    <section class="appreciation in-school">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-icon text-center">
                            <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                        </div>
                        <div class="heading-wrapper text-center">
                            <div class="title">
                                <h2>Appreciations From Our Students</h2>
                            </div>
                        </div>
                        <div class="pic-wrapper">
                            <div class="left-side">
                                <div class="pic-1">
                                    <div class="img-wrapper">
                                        <img src="assets/img/girl2.png" alt="Not Loaded" class="img-fluid" width="346" height="546">
                                    </div>
                                </div>
                            </div>
                            <div class="right-side">
                                <div class="pic pic-2">
                                    <div class="img-wrapper">
                                        <img src="assets/img/boy1.png" alt="Not Loaded" class="img-fluid" width="247" height="254">
                                    </div>
                                </div>
                                <div class="pic pic-3">
                                    <div class="img-wrapper">
                                        <img src="assets/img/girl3.png" alt="Not Loaded" class="img-fluid" width="266" height="272">
                                    </div>
                                </div>
                                <div class="pic pic-4">
                                    <div class="img-wrapper">
                                        <img src="assets/img/girl4.png" alt="Not Loaded" class="img-fluid" width="265" height="271">
                                    </div>
                                </div>
                                <div class="pic pic-5">
                                    <div class="img-wrapper">
                                        <img src="assets/img/girl5.png" alt="Not Loaded" class="img-fluid" width="266" height="271">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <!--  <section class="destination">
            <div class="container">
                <div class="pic-wrapper">
                    <div class="pic-1">
                        <div class="heading-wrapper">
                            <div class="title">
                                <h3>Kerala</h3>
                            </div>
                            <div class="text">
                                <p>Yoga Vidya School in Kerala, noted destination for spiritual, vedic immersions, invites you to come along this sojourn of advanced yoga practices to hone your skills deepen your wisdom of the yogic art form through the 300 Hour Yoga TTC.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pic-2">
                        <div class="heading-wrapper">
                            <div class="title">
                                <h3>Bali</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pic-3">
                        <div class="heading-wrapper">
                            <div class="title">
                                <h3>Romania</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pic-4">
                        <div class="heading-wrapper">
                            <div class="title">
                                <h3>Russia</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="patern-bg2 p-0">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="content ba-area-pt mx-3 mx-lg-5 ">

                                <div class="main-icon text-center">
                                    <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                                </div>
                                <div class="heading-wrapper title text-center">
                                    <h2 class="mb-3 py-2">Accomodation</h2>
                                </div>

                            <div class="desc mt-2">
                                <p>As soul flourishes in healthy body in the same way our physical body requires
                                    healthy, safe and hygienic atmosphere. Bali Yoga Ashram is situated at peaceful
                                    place and surrounded by lush green mountains and fields. Keeping in mind our
                                    rooms are designed according to yoga teacher training course. Our rooms are
                                    spacious and ventilated. Our management is always your service to keep your
                                    rooms clean and hygienic.</p>

                            </div>
                            <div class="mt-4">
                                <h4 class="title">Key Features</h4>
                                <ul class="list list-two-parts by-icon-list leaf-list mt-2">
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Clean & Airy
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Attached Washroom
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        24X7 Free wi-fi connectivity
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Personal Cupboard
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        24 hours Power Supply
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        24 Hours filtered hot & cold water
                                    </li>
                                    <li class="list-item">
                                        <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Woolen Blanket
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- <img src="assets/img/kerala.jpg" class="img-fluid"> -->
                       <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                  </a>
                </div>
                <!-- loop end -->
                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                  </a>
                </div>
                <!-- loop end -->
                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                  </a>
                </div>
                <!-- loop end -->

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <!-- <div class="swiper-pagination"></div> -->
            </div>
            <!-- slider end -->

                    </div>
                </div>

            </div>
            <div class="container-fluid p-0">
                <div class="row flex-lg-row-reverse g-0 mb-2">
                    <div class="col-lg-6">
                        <div class="content ba-area-pt mx-3 mx-lg-5">
                            <div class="main-icon text-center">
                                <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                            </div>
                            <div class="heading-wrapper title text-center">
                                <h2 class="mb-3">Yogic Food</h2>
                            </div>
                            <div class="desc mt-2">
                                <p>Whatever we eat can effect our mental and physical body. Eating balanced and
                                    notorious food is very important for yogis . Yogic Diet is based on natural
                                    healing, rejuvenating and energizing elements from the revered science of
                                    Ayurveda. It is a perfect food for nourishing the mind, body and souls of
                                    So Bali Yoga Ashram provides you yogic food which helps you
                                    physically in increasing your flexibility and stamina, mentally it helps you in
                                    being aware about your thoughts and breath. We are very adamant about bringing
                                    nutritious, vegan and gluten free food for our students.</p>

                            </div>
                            <div class="mt-4">
                                <h4 class="title">Key Features</h4>
                                <ul class="list by-icon-list leaf-list mt-2">
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Vegetarian, Vegan, and Gluten Free Food
                                    </li>
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        3 Yogic meals a day
                                    </li>
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        24x7 herbal Tea/Coffee
                                    </li>
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        24x7 Hours filtered hot &amp; cold water
                                    </li>
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Fresh Organic Juice
                                    </li>
                                    <li class="list-item">
                                          <img src="assets/img/yogaicon.png" class="yogaicon">
                                        Other dietary requirements on request.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- <img src="assets/img/kerala.jpg" class="img-fluid"> -->
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                                </a>
                              </div>
                              <!-- loop end -->
                              <div class="swiper-slide">
                                <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                                </a>
                              </div>
                              <!-- loop end -->
                              <div class="swiper-slide">
                                <a href="" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider.png');">

                                </a>
                              </div>
                              <!-- loop end -->

                            </div>
                            <div class="custom-swiper-button-next">
                              <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                              <span class="bi-chevron-left"></span>
                            </div>

                            <!-- <div class="swiper-pagination"></div> -->
                          </div>
                          <!-- slider end -->


                    </div>
                </div>

            </div>

        </section>

        <section class="destnew">
            <div class="container">
                <div class="row text-center">
                    <div class="main-icon text-center">
                        <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                    </div>
                    <div class="heading-wrapper title text-center">
                        <h2 class="mb-3">Our Best Yoga Destinations</h2>
                    </div>
                </div>
                <div class="row">
                   <div class="col-lg-3 left">
                        <ul>
                            <li>Kerala</li>
                            <li>Bali</li>
                            <li>Romania</li>
                            <li>Russia</li>
                        </ul>
                   </div>

                   <div class="col-lg-9 right">
                        <div class="dest-single" >
                            <img src="assets/img/kerala.jpg" class="img-fluid">
                            <div class="text-wrapper">
                                <h3>Kerala</h3>
                                <p>Yoga Vidya School in Kerala, noted destination for spiritual, vedic immersions, invites you to come along this sojourn of advanced yoga practices to hone your skills deepen your wisdom of the yogic art form through the 300 Hour Yoga TTC.</p>
                            </div>
                        </div>
                   </div>


                </div>
            </div>
        </section>

        <section class="master  patern-bg2 ">
            <div class="container">
                <div class="row">
                    <div class="main-icon text-center">
                        <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                    </div>
                    <div class="heading-wrapper title text-center">
                        <h2 class="mb-3">Our Yoga Masters</h2>
                    </div>
                    <div class="col-lg-3 text-center" *ngFor="let master of mentorList">
                        <div class="master card">

                                <div class="img-wrapper">
                                    <img [defaultImage]="defaultImage" [lazyLoad]="imageUrl+master.picture" alt="{{master.title}}" class="img-fluid">
                                </div>
                                <div class="caption-wrapper">
                                    <div class="title">
                                        <h4>{{master.name}}</h4>
                                    </div>
                                    <div class="sub-title">
                                        <p>{{master.title}}</p>
                                    </div>
                                    <div class="social-wrapper">
                                        <a href="">
                                            <img src="assets/img/insta.png" alt="instagram" class="img-fluid">
                                        </a>
                                        <a href="">
                                            <img src="assets/img/youtube.png" alt="youtube" class="img-fluid">
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <!-- <div class="col-lg-3 text-center">
                        <div class="master card">
                                <div class="img-wrapper">
                                    <img src="assets/img/master2.png" alt="Not Loaded" class="img-fluid">
                                </div>
                                <div class="caption-wrapper">
                                    <div class="title">
                                        <h4>Acharya Prashant Jakhmola</h4>
                                    </div>
                                    <div class="sub-title">
                                        <p>Pranayama, Shatkriya, Bandha</p>
                                    </div>
                                    <div class="social-wrapper">
                                        <a href="">
                                            <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                        <a href="">
                                            <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="master card">
                                <div class="img-wrapper">
                                    <img src="assets/img/master3.png" alt="Not Loaded" class="img-fluid">
                                </div>
                                <div class="caption-wrapper">
                                    <div class="title">
                                        <h4>Acharya Prashant Jakhmola</h4>
                                    </div>
                                    <div class="sub-title">
                                        <p>Pranayama, Shatkriya, Bandha</p>
                                    </div>
                                    <div class="social-wrapper">
                                        <a href="">
                                            <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                        <a href="">
                                            <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="master card">

                                <div class="img-wrapper">
                                    <img src="assets/img/master4.png" alt="Not Loaded" class="img-fluid">
                                </div>
                                <div class="caption-wrapper">
                                    <div class="title">
                                        <h4>Acharya Prashant Jakhmola</h4>
                                    </div>
                                    <div class="sub-title">
                                        <p>Pranayama, Shatkriya, Bandha</p>
                                    </div>
                                    <div class="social-wrapper">
                                        <a href="">
                                            <img src="assets/img/insta.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                        <a href="">
                                            <img src="assets/img/youtube.png" alt="Not Loaded" class="img-fluid">
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="base py-5 in-school ">
                 <div class="container">
                <!-- <div class="row"> -->
                    <div class="col-lg-12 text-center">
                        <div class="main-icon">
                            <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                        </div>
                        <div class="heading-wrapper ">
                            <div class="title">
                                <h1>Explore Our Youtube Channel</h1>
                            </div>
                            <div class="sub-title">
                                <p>Enrich your Yoga learnings on our Youtube Channel</p>
                            </div>
                        </div>
                    </div>

                        <div class="col-lg-12 text-center video-data col-12">

                                <div class="col-lg-4 float-left p-4 col-12">
                                    <h5>Video Count</h5>
                                    <p>135</p>
                                </div>
                                <div class="col-lg-4 float-left p-4 col-12">

                                    <h5>Subscriber Count</h5>
                                    <p>189000</p>
                                </div>
                                <div class="col-lg-4 float-left p-4 col-12">

                                    <h5>View Count</h5>
                                    <p>9615629</p>
                                </div>

                          </div>

                     <div class="row">
                             <div class="col-lg-6 float-left p-4 col-12">
                                <div class="youtube-wrap">
                                    <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                             </div>
                             <div class="col-lg-6 float-left p-4 col-12">
                                 <div class="youtube-wrap">
                                    <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                             </div>
                     </div>


                     <div class="row">
                        <div class="col-lg-3 float-left p-4 col-12">
                            <div class="youtube-wrap">
                                <iframe style="width: 100%;" height="215" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                         </div>

                        <div class="col-lg-3 float-left p-4 col-12">
                            <div class="youtube-wrap">
                                <iframe style="width: 100%;" height="215" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                         </div>

                        <div class="col-lg-3 float-left p-4 col-12">
                            <div class="youtube-wrap">
                                <iframe style="width: 100%;" height="215" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                         </div>

                        <div class="col-lg-3 float-left p-4 col-12">
                            <div class="youtube-wrap">
                                <iframe style="width: 100%;" height="215" src="https://www.youtube.com/embed/jwXFYe3XpKs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                         </div>
                     </div>
                </div>
        </section>
        <section class="base py-5 patern-bg2">
            <div class="container">
                <!-- <div class="row"> -->
                    <div class="col-lg-12 text-center">
                        <div class="main-icon">
                            <img src="assets/img/main-icon.png" alt="Not Loaded" class="img-fluid" width="300">
                        </div>
                        <div class="heading-wrapper ">
                            <div class="title">
                                <h1>Our Knowledge Base</h1>
                            </div>
                            <div class="sub-title">
                                <p>Enrich your Yoga learnings on our blog</p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                         <div class="row">
                             <div class="col-lg-6 float-left p-4 col-12" *ngFor="let blog of blogList">
                                <div class=" blog">
                                    <div class="pic-wrapper">
                                        <img class="fit-image-home" [defaultImage]="defaultImage" [lazyLoad]="imageUrl+blog.image" alt="{{blog.title}}">
                                    </div>
                                    <div class="text">
                                        <h5>{{blog.title}}</h5>
                                        <p>{{blog.shortDesc}}...</p>
                                        <a routerLink="/blog-detail/{{blog.slug}}" class="btn readmore">Read More</a>
                                    </div>
                                </div>
                             </div>
                             <!-- <div class="col-lg-6 float-left p-4 col-12">
                                <div class=" blog">
                                    <div class="pic-wrapper">
                                        <img src="assets/img/blog1.jpg">
                                    </div>
                                    <div class="text">
                                        <h5>What is Yoga?</h5>
                                        <p>Yoga is an ancient form of exercise that focuses on strength</p>
                                        <a href="" class="btn readmore">Read More</a>
                                    </div>
                                </div>
                             </div> -->
                         </div>
                    <!-- <div class="col-lg-6">
                        <div class="pic-wrapper">
                            <div class="heading-wrapper">
                                <div class="title">
                                    <h3>What is yoga?</h3>
                                </div>
                                <div class="sub-title">
                                    <p>Yoga is an ancient form of exercise that focuses on strength, flexibility and breathing to boost physical and...</p>
                                </div>
                                <div class="btn-wrapper">
                                    <button class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
            </div>
        </section>

        <section class="contact in-school">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                            <div class="contact-wrapper">
                                <div class="col-lg-10">
                                     <div class="title">
                                        <h4>Still have any questions or not sure how to start</h4>
                                    </div>
                                    <div class="sub-title">
                                        <p>or contact us on Whatsapp us at +919818660954</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn contactus" href="">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
<!--     <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">


          </div>

          <div class="col-lg-8">

          </div>

        </div>

      </div>
    </section> -->




  </main>
