<main id="main">
    <section class="breadcrumb_section">

        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <section  class="p-0">
        <div class="container">
                <div class="row">
                   <div class="col-lg-12 pull-left" *ngFor="let blog of blogList | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }">
                        <div class=" single-blog">
                            <div class="col-lg-3 p-4">
                                <a routerLink="/blog-detail/{{blog.slug}}">
                                    <img [defaultImage]="defaultImage" [lazyLoad]="imageUrl+blog.image" class="img-fluid">

                                </a>
                            </div>
                            <div class="col-lg-9 p-4">
                                <a routerLink="/blog-detail/{{blog.slug}}">
                                    <h3>{{blog.title}}</h3>
                                </a>
                                <span class="date"> Posted on {{blog.created | date: 'dd/MM/yyyy'}}</span>
                                <p>{{blog.shortDesc}}...
                                <a routerLink="/blog-detail/{{blog.slug}}" class="standard-btn btn">Read More</a>
                                </p>
                            </div>
                        </div>
                   </div>
                   <!-- single -->
                </div>
                <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
    </section>
    <!-- <ng-template #emptyLoadingTemplate></ng-template>
    <ngx-loading
    [show]="loading"
    [config]="{
      animationType: ngxLoadingAnimationTypes.wanderingCubes,
      backdropBackgroundColour: 'rgba(0,0,0,0.9)',
      primaryColour: '#fff',
      secondaryColour: '#fff',
      tertiaryColour: '#fff',
      backdropBorderRadius: '3px'
    }"
    [template]="emptyLoadingTemplate"
  ></ngx-loading> -->

