/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap'); */
.privacy a{
  color:#F9751E;
}
ul {
    list-style-type: none;
  }

  .header{
    background: #F9751E;
  }
  .accordion-body li:before {
    content: url('../src/assets/icon/tick-orange.png');
  }
  .accordion-body li{
    display: flex;
    gap: 10px;
  }
  .orange{
    color: #F9751E;
  }
  .fit-image-home{
    height: 400px;
    object-fit: cover;
  }
